.list{
    justify-content: center;
    font-size: 30px;
    color: rgb(210 26 60);;
    background-color: white;
    margin-right: 80px;
}
.header {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    text-align: center;
    position: relative;
}
section {
    display: table;
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
}
.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
    background-color: rgb(210 26 60);
    margin-left: 20px;
}
