.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-content {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.popup-content h1 {
    color: rgb(210, 26, 60);
}
.popup-content p {
    margin: 10px 0;
}
.close {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
    color: rgb(210, 26, 60);
    transition: color 0.3s;
}
.close:hover {
    color: rgb(180, 20, 50);
}
